[submodule "scala-microservices-realworld-example-app-users-service"]
	path = scala-microservices-realworld-example-app-users-service
	url = https://github.com/marcusmonteirodesouza/scala-microservices-realworld-example-app-users-service.git
